<%
if !sobject.new_record?
  devices = sobject.devices_with_info

  if (ext_links = Hoper::Config.interface.ext_links.try(:user_device))
    ext_link = ext_links.first
  end

  visible_fields = [:vc_addr_code, :vc_ip_code, :vc_subnet_mask, :vc_subnet_code, :vc_vlan_name, :vc_vlan_code, :vc_mac_code,
                :vc_tel_code].select do |m|
                    devices.select{|d| d[m.to_s].present?}.present?
                end.map{|m| {:name => m, :text => t(:"objects.user_device.table.#{m}")}}

  if devices.present?
    if devices.size > 3%>
      <div style="margin-left: 10px; margin-top: -5px; padding-bottom: 5px">
        <%=t('objects.user_device.messages.device_count')%>: <%=devices.map{|d| d['n_device_id']}.uniq.size%>, <%=t('objects.user_device.messages.obj_count')%>: <%=devices.map{|d| d['n_port_id']}.uniq.size%>
      </div>
    <%end%>
    <table class="list sortable table table-condensed user-devices" id="devices_<%=sobject.n_subject_id%>" style="margin-left: 10px; margin-bottom: 10px;">
      <thead>
      <tr style="cursor: default; text-align: left">
        <th><%=t('objects.user_device.table.vc_name')%></th>
        <th><%=t('objects.user_device.table.vc_obj')%></th>
        <th><%=t('objects.user_device.table.n_dev_state_id')%></th>
        <%visible_fields.each do |field|%>
          <th><%=field[:text]%></th>
        <%end%>
        <%if ext_link%>
          <th><%=ext_link['name']%></th>
        <%end%>
      </tr>
      </thead>
      <tbody>
      <%devices.each do |device|%>
      <tr class="table table-condensed" id="tr_devices_<%=device['n_device_id']%>" style="cursor: default; <%if device['n_dev_state_id']==CONST::OBJ_STATE_NotActive%>color: #ccc<%end%>" data-entry-id="<%= device.n_port_id %>" data-device-id="<%= device.n_device_id %>">
        <%if device.n_device_row_no == 1%>
          <td class="device" <%= "rowspan='#{device.n_devices_count_no.to_i}'".html_safe if device.n_devices_count_no > 1%>>
            <a href="javascript:;" onclick="showBackground();new Ajax.Request('/<%=Abstract.get_class_name_by_entity_type(device['n_par_obj_kind_id']).pluralize.underscore%>/edit/<%=device['n_device_id']%>?window=true&wizard=1&window_width=1000&special_flag=<%=sobject.id%>')"><%=device['vc_device_code']%></a>
          </td>
        <%end%>
        <%if device.n_port_row_no == 1%>
          <td class="entry" <%= "rowspan='#{device.n_ports_count_no.to_i}'".html_safe if device.n_ports_count_no > 1%>>
            <a href="javascript:;" onclick="showBackground();new Ajax.Request('/objects/entries/edit/<%=device['n_port_id']%>?window=true&wizard=1&special_flag=<%=sobject.id%>')"><%=device['vc_port_code']%></a>
          </td>
        <%end%>
        <td>
          <i class="fa fa-sign-blank <%=device['n_dev_state_id'] == CONST::OBJ_STATE_Active ? 'active-state' : 'inactive-state'%>"></i>
          <%=Ref.get_name_from_id(device['n_dev_state_id'])%>
        </td>
        <%visible_fields.each do |field|%>
          <td><%=device[field[:name].to_s]%></td>
        <%end%>
        <%if ext_link%>
          <td>
            <%== render_cell(:ext_link, :device_link, :object => device, :action => ext_link['action'])%>
          </td>
        <%end%>
      </tr>
      <%end%>
      </tbody>
    </table>
  <%end%>
  <%if user.can_edit?(sobject.api_object) && (user.can_edit?(Objects::Device.api) || user.can_edit?(Objects::Entry.api))%>
    <a class="green-dark-icon-hover" href="javascript:;" onclick="showBackground();new Ajax.Request('/objects/user_devices/edit?n_user_id=<%=sobject.n_subject_id%>')">
      <i class="fa fa-plus green" style="margin-left: 10px"></i><%=t('objects.user_device.messages.add_object')%>
    </a>
  <%end%>
	<script type="text/javascript">
	(function() {
	  var table = jQuery("#devices_<%=sobject.n_subject_id%>");
	  var f = function(method) {
	    return function () {
	      var cell = jQuery(this);
	      var row = cell.parent();
	      var device = table.find('[data-device-id="' + row.data('device-id') + '"]');
	      var selector = null; 
	      if (cell.is('.device'))
	        selector = device; 
	      else {
	        var entry = device.filter('[data-entry-id="' + row.data('entry-id') + '"]');
	        if (cell.is('.entry'))
	          selector = device.find('.device').add(entry);
	        else
	          selector = row.add(device.find('.device')).add(entry.find('.entry'));
	      }
	      return selector[method]('hovered');
	    }
	  };		
	  table.find('td').hover(f('addClass'), f('removeClass'));
		})();
	  </script>  
  <!-- отсюда доп блок zabbix + snmp + ssh) -->
  <% if devices.size > 0%>
	<div class="vjn"> <h2 class="header tf">Доп. информация</h2><table class="tzbx list sortable table table-condensed object_binds"><thead><tr class=cl><th>1ч</th><th>3ч</th><th>6ч</th><th>12ч</th><th>7д</th><th>14д</th><th>1м</th></tr></thead><tbody><tr><td colspan="7"><div class="cssload-container"><div class="cssload-whirlpool"></div></div><div id="img_zab"></div></td></tr></tbody></table><table class="snmpget list sortable table table-hover table-condensed object_binds"><thead><tr><th>Адрес</th><th>Порт</th><th>Статус</th><th>Состояние</th><th>Скорость</th><th>Ошибки Вх</th><th>Ошибки Исх</th></tr></thead><tbody></tbody></table></div>
  <%end%>	
  <style type="text/css">
	#img_zab{min-width:1285px;min-height:584px}tr.cl th{background:#f0fbff;text-align:center}tr.cl th:hover{background:#e1e1e1;color:#09d}.cssload-container{position:relative;top:50px}.cssload-whirlpool,.cssload-whirlpool::before,.cssload-whirlpool::after{position:absolute;top:50%;left:50%;border:1px solid #ccc;border-left-color:#000;border-radius:624px;-o-border-radius:624px;-ms-border-radius:624px;-webkit-border-radius:624px;-moz-border-radius:624px}.cssload-whirlpool{margin:-16px 0 0 -16px;height:31px;width:31px;animation:cssload-rotate 2050ms linear infinite;-o-animation:cssload-rotate 2050ms linear infinite;-ms-animation:cssload-rotate 2050ms linear infinite;-webkit-animation:cssload-rotate 2050ms linear infinite;-moz-animation:cssload-rotate 2050ms linear infinite}.cssload-whirlpool::before{content:"";margin:-14px 0 0 -14px;height:27px;width:27px;animation:cssload-rotate 2050ms linear infinite;-o-animation:cssload-rotate 2050ms linear infinite;-ms-animation:cssload-rotate 2050ms linear infinite;-webkit-animation:cssload-rotate 2050ms linear infinite;-moz-animation:cssload-rotate 2050ms linear infinite}.cssload-whirlpool::after{content:"";margin:-18px 0 0 -18px;height:35px;width:35px;animation:cssload-rotate 4100ms linear infinite;-o-animation:cssload-rotate 4100ms linear infinite;-ms-animation:cssload-rotate 4100ms linear infinite;-webkit-animation:cssload-rotate 4100ms linear infinite;-moz-animation:cssload-rotate 4100ms linear infinite}@keyframes cssload-rotate{100%{transform:rotate(360deg)}}@-o-keyframes cssload-rotate{100%{-o-transform:rotate(360deg)}}@-ms-keyframes cssload-rotate{100%{-ms-transform:rotate(360deg)}}@-webkit-keyframes cssload-rotate{100%{-webkit-transform:rotate(360deg)}}@-moz-keyframes cssload-rotate{100%{-moz-transform:rotate(360deg)}}.rso{clear:left!important;float:left!important}.rsovjn{position:relative;top:10px;float:right;right:20px}.img_zab_rso{margin-left:10px;min-width:673px!important;min-height:480px!important}.acv{background-color:#f5f5f5}.rso_1680{max-width:876px}.rso_1580{max-width:820px;padding-right:0!important}.rso_1580_m{max-width:154px}.adv_gp1{margin-left:120px}
  </style> 
   <script type="text/javascript">  
	var data_clinet_info=[],data_ip_com=[],data_port_com=[],host=window.location.host,regex=/H[0-9]*-\d[0-9]*/,contr=0,contr_fail=0,rc_wight=1169,rc_height=408,host_py=window.location.hostname+":8456";
  	<%if Subjects::Person.find(sobject.n_base_subject_id)%> 
  		data_clinet_info.push("<%=Subjects::Person.find(sobject.n_base_subject_id)['vc_name']%>")
 	<%else%>
		data_clinet_info.push("<%=Subjects::Provider.find(sobject.n_subject_id)['vc_name']%>")
	<%end%>
	<%addresses =Addresses::SubjAddress.where(["n_subject_id = :owner and ((n_addr_type_id = :a and n_subj_addr_type_id =:a3) or n_addr_type_id = :a2)", { owner: sobject.n_base_subject_id, a: 1006, a2: 13006, a3: 1016}]).order(:n_addr_type_id)%>
	<%addresses.each do |address|%>
		data_clinet_info.push("<%=address.vc_visual_code%>")
	<%end%> 
	var arr_device_id = <%=devices.map{|d| d['n_device_id']}%>;
	var n_user_id = <%=sobject.n_subject_id%>;
	var n_base_subject_id = <%=sobject.n_base_subject_id%>;
	var n_device_id_count = <%=devices.map{|d| d['n_device_id']}.uniq.size%>
	function get_snmp(a,b){jQuery(".snmpget tbody").append("<tr><td><a href='https://"+host_py+"/ssh/host/"+a+"?port=22' target='_blank'>"+a+"</a></td><td>"+Number(b+1)+"</td></tr>"),jQuery(".snmpget tbody tr:eq(0)").hasClass("acv")===!1&&jQuery(".snmpget tbody tr:eq(0)").addClass("acv"),jQuery.get("https://"+host_py+"/?mibs=1&ip_com="+a+"&port_com="+b,function(b){b=b.split(",");for(var c=0;c<b.length;c++)2==c&&(b[c]=Math.round(b[c]/1e6)+" mbps"),0!==c&&1!=c||(1==b[c]?b[c]="Активен":2==b[0]?b[c]="Адм. выключен":2==b[1]&&(b[c]="Выключен")),jQuery(".snmpget tbody tr:eq("+contr+")").append("<td>"+b[c]+"</td>");contr++}).fail(function(){jQuery(".snmpget tbody tr:eq("+contr_fail+")").append("<td colspan='5'><a href='https://' target='_blank'>Ошибка или сертификат не подтвержден</a></td>"),contr_fail++})}function pre_get_zabbix_img(a){data_ip_com=jQuery(".acv td:eq(0) a").html(),data_port_com=jQuery(".acv td:eq(1)").html()-1,get_zabbix_img(data_ip_com,data_port_com,a)}function get_zabbix_img(a,b,c){jQuery(".cssload-container").show(),jQuery("#img_zab").html("<img id='zab_img_view' src='https://"+host_py+"/?mibs=0&ip_com="+a+"&port_com="+b+"&period="+c+"&wight="+rc_wight+"&height="+rc_height+"&m_rand="+Math.random()+"' onload='jQuery(\".cssload-container\").hide();'>")}for(var j=0;j<3;j++)void 0==data_clinet_info[j]&&(data_clinet_info[j]="Нет данных");void 0!=data_clinet_info[2]&&(data_clinet_info[2]=data_clinet_info[2].replace(/(\d{1})(\d{3})(\d{3})(\d{2})(\d{2})/,"$1-$2-$3-$4-$5")),jQuery("#field_"+n_user_id+"_n_subject_id").append("<table class='field_table'><tr class='field_row'><td align='right' class='label_td'><div><label class='field-label'>Адрес</label></div></td><td class='group_container'><span class='static-field'>"+data_clinet_info[1]+"</span></td></tr></table><table class='field_table'><tr class='field_row'><td align='right'class='label_td'> <div><label class='field-label'>Клиент</label></div></td><td class='group_container'><span class='static-field'>"+data_clinet_info[0]+"</span></td></tr></table><table class='field_table'><tr class='field_row'><td align='right' class='label_td'><div><label class='field-label'>Телефон</label></div></td><td class='group_container'><span class='static-field'>"+data_clinet_info[2]+"</span></td></tr></table>"),""!==arr_device_id[0]&&jQuery(".fa").hasClass("active-state")!==!1?(jQuery("tr").hasClass("acv")===!0&&jQuery("#inner_panel_"+n_user_id+"_0 .rsovjn").remove(),window.innerWidth>=1580&&(jQuery(".subjects-user-edit-field-groups > div:nth-child(-n+4)").addClass("rso"),jQuery(".vjn h2").hide(),jQuery(".vjn").addClass("rsovjn"),jQuery(".vjn").prependTo("#inner_panel_"+n_user_id+"_0"),jQuery("#img_zab").addClass("img_zab_rso"),rc_wight=556,rc_height=295,1680==window.innerWidth&&jQuery(".rso").addClass("rso_1680"),window.innerWidth>=1580&&window.innerWidth<=1679&&(jQuery(".rso").addClass("rso_1580"),jQuery("#documents_"+n_user_id+".list td:nth-child(1)").addClass("rso_1580_m"),text=jQuery("#accounts_"+n_user_id+".list td:nth-child(1)").html(),text=text.replace("Лицевой счет","ЛС"),jQuery("#accounts_"+n_user_id+".list td:nth-child(1)").html(text))),jQuery.each(jQuery.unique(arr_device_id),function(a,b){jQuery(".edit-field-groups-devices .group_container").append("<div id=inner_panel_"+b+"_2></div>"),new Ajax.Request("https://"+host+"/objects/devices/load_interface_tab?object_type=objects%2Fdevices&id="+b+"&outer_tab="+b+"&inner_tab=2&window=true&n_doc_type_id&n_parent_doc_id",{onComplete:function(c){return jQuery("#inner_panel_"+b+"_2").attr("id","inner_panel_add_"+a).hide(),0==jQuery("#direct_binds_"+b+" .object_binds").length?void jQuery(".vjn").hide():(jQuery("#field_"+b+"_binds .field_table").each(function(){var a=jQuery("#direct_binds_"+b+" tbody tr",this);a.each(function(){ip_com=regex.exec(jQuery(this).find("td:eq(4)").text()),ip_com=ip_com[0].split("-"),"H0"==ip_com[0]&&(ip_com="10.0.0."+ip_com[1]),"H1"==ip_com[0]&&(ip_com="10.0.1."+ip_com[1]),port_com=jQuery(this).find("td:eq(5)").text().split("№"),port_com=port_com[1]-1,data_ip_com.push(ip_com),data_
port_com.push(port_com),get_snmp(ip_com,port_com)})}),void(a==arr_device_id.length-1&&get_zabbix_img(data_ip_com[0],data_port_com[0],3600)))}})}),jQuery(".snmpget tbody").on("click","tr",function(a){jQuery(".snmpget tbody tr").removeClass("acv"),jQuery(this).addClass("acv"),pre_get_zabbix_img(3600)}),jQuery(".cl").on("click","th",function(){cl=jQuery(this).text(),"1ч"==cl&&pre_get_zabbix_img(3600),"3ч"==cl&&pre_get_zabbix_img(10800),"6ч"==cl&&pre_get_zabbix_img(21600),"12ч"==cl&&pre_get_zabbix_img(43200),"7д"==cl&&pre_get_zabbix_img(604800),"14д"==cl&&pre_get_zabbix_img(1209600),"1м"==cl&&pre_get_zabbix_img(2678400)})):jQuery("tr").hasClass("acv")===!1&&jQuery(".vjn").hide();
  </script> 
  <!-- досюда -->
<%else%>
<div style="font-size: 13px; margin: 10px"><%=t('objects.user_device.messages.add_user')%></div>
<%end%>
 
