html { overflow-x: hidden; }
body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
    background-color: rgb(0, 0, 0);
    color: rgb(240, 240, 240);
    height: 100%;
    margin: 0;
}

#header {
    color: rgb(240, 240, 240);
    background-color: rgb(0, 128, 0);
    width: 100%;
    border-color: white;
    border-style: none none solid none;
    border-width: 1px;
    text-align: center;
    flex: 0 1 auto;
    z-index: 99;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#terminal-container {
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
}

#terminal-container .terminal {
    background-color: #000000;
    color: #fafafa;
    padding: 2px;
}

#terminal-container .terminal:focus .terminal-cursor {
    background-color: #fafafa;
}

#bottomdiv {
    width: 100%;
    background-color: rgb(50, 50, 50);
    border-color: white;
    border-style: solid none none none;
    border-width: 1px;
    z-index: 99;
    flex: 0 1 30px;
}

#footer {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#status {
    display: inline-block;
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none solid;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
#credentials {
    display: inline-block;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 127, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-color: white;
    border-style: none solid none none;
    border-width: 1px;
    text-align: left;
    z-index: 100;
}
a.credentials {
    color: rgb(51, 51, 51);
    text-decoration: none;    
}